.item {
  width: 290px;
  height: 365px;
  margin: 20px;
  display: inline-block;
}

.cardMedia {
  height: 240px;
  background-size: cover;
  background-position: center;
}

.item :hover {
  opacity: 0.8;
}

.itemName {
  margin-left: 5px;
  font-weight: bold;
}

.price {
  margin: 5px;
}

.addItem {
  height: 0px;
  width: 30%;
  cursor: pointer;
  display: flex;
}
