.table {
  margin: 1em;
  display: flex;
  flex-direction: column;

  .header,
  .row {
    display: flex;

    div {
      flex: 1;
      padding: 0.2rem 0.4em;
      border: 1px solid rgb(238, 238, 238);
    }

    .remove {
      border: 0;
      background-color: white;
      text-align: right;
      font-weight: 700;
      flex: 0 0 20px;

      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }
  }

  .header {
    background-color: rgb(238, 238, 238);
  }
}
